/* Input */

.input {
  border: 1px solid #ddd;
  box-sizing: border-box;
  height: 29px;
  padding: 4px 8px;
  cursor: pointer;
}

.input.open {
  border-color: #aaa;
}

.placeholder {
  display: inline-block;
  margin: 0;
  color: #333;
  font-size: 13px;
  line-height: 15px;
  user-select: none;
}

.ico-select {
  display: block;
  float: right;
  background: url(../img/ico_tui_select.png) left center no-repeat;
  width: 8px;
  overflow: hidden;
  text-indent: 100%;
}

.open > .ico-select {
  background-position: right center;
}

/* Dropdown */

.dropdown,
.optgroup {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.dropdown {
  border: 1px solid #aaa;
  border-top: none;
  box-sizing: border-box;
  /* max-height: 145px; */
  overflow: auto;
}

/* Optgroup */

.optgroup > .option {
  padding-left: 1.5em;
}

.optgroup-label {
  font-weight: bold;
}

/* Option */

.optgroup-label,
.option {
  box-sizing: border-box;
  height: 29px;
  padding: 8px 7px;
  color: #333;
  font-size: 13px;
  line-height: 15px;
}

.option {
  cursor: pointer;
}

.selected {
  background: #f4f4f4;
}

.highlight {
  background: #e5f6ff;
  outline: none;
}

/* Common */

.hidden {
  display: none; /* for test */
}

.disabled {
  background: #f9f9f9;
  cursor: default;
}

.disabled > * {
  opacity: 0.3;
}